.wrapper-button {
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1024px)  {

    .wrapper-button{
        display: flex;
        gap:80px;
        justify-content: center;
        flex-direction: row;
    }
}